@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    padding: 30px;
    box-sizing: border-box;
    z-index: 999;
}

#header .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#header .info {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#header.appDetail .info > a {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#header.appDetail .info > a:hover {
    color: #333;
}

#header h1, #header h3 {
    margin: 0;
    padding: 0;
}

#header h1 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 3px;
}

#header h3 {
    font-size: 20px;
    font-weight: 400;
    color: hsl(0, 0%, 60%);
}

#header.appDetail .info img {
    display: block;
    margin: 0;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: rgba(51, 51, 51, 0.2) 0px 4px 8px;
}

#header.appDetail h1 {
    font-size: 24px;
}

#header.appDetail .container {
    align-items: center;
}

#header.appDetail a {
    display: block;
    margin: 0;
}

#header.appDetail a > img {
    display: block;
    margin: 0;
    height: 44px;
}

#header .socials {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#header a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: all 125ms ease-in-out;
}

#header a:hover {
    color: #155ab5;
    text-shadow: rgba(51, 51, 51, 0.1) 0px 2px 4px;
}

.appPreview {
    min-height: 400px;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    padding: 50px;
}

.container {
    max-width: 1040px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.appPreview h1 {
    margin: 0;
    text-align: center;
    opacity: 0.8;
}

.appPreview.memorize h1 {
    margin-bottom: -5px;
}

.appPreview a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
}

.appPreview h3 {
    max-width: 500px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    font-size: 20px;
    color: #333;
    opacity: 0.7;
}

.appPreview p {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
    margin: 0;
    padding-bottom: 15px;
}

.appPreview .showcase {
    display: block;
    width: 80%;
    margin: 0;
    padding: 40px 0;
}

.appPreview .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.appPreview .links img {
    height: 44px;
    display: block;
    margin: 0;
}

.appPreview.jumbo img {
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appPreview .infoButton {
    display: block;
    margin: 0;
    padding: 0px 20px;
    height: 44px;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-radius: 7px;
    box-sizing: border-box;
    transform: all 125ms ease-in-out;
}

.appPreview .infoButton:hover {
    opacity: 0.9;
}

.appPreview .infoButton:active {
    opacity: 1;
    box-shadow: #00000000 0px 0px 0px;
}

.coffeeNoteBG {
    border: 2px solid #642D1F;
    background: linear-gradient(0.33turn, #642D1F, #642d1fdb);
}
.memorizeBG {
    border: 2px solid #3498db;
    background: linear-gradient(0.33turn, #3498db, #7ac4f5);
}
.bookieBG {
    border: 2px solid #F49228;
    background: linear-gradient(0.33turn, #F49228, #FDB610);
}

.serif {
    font-family: -apple-system-ui-serif, ui-serif, 'New York', 'Roboto Serif', serif;
}
.fun {
    font-family: 'Nunito', 'Roboto', sans-serif;
}
.sfpro {
    font-family: -apple-system, 'SF Pro', 'Roboto', sans-serif;
}

.flex-centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memorize {
    background: #d9ecf9;
    /* background: linear-gradient(0.33turn, #3498db70, #7ac4f570); */
}

.memorize-gradient {
    background: radial-gradient(ellipse at bottom, #7ac4f570, #3498db70);
}

.memorize-slight-gradient {
    background: radial-gradient(ellipse at bottom, rgba(122, 196, 245, 0.2), rgba(52, 152, 219, 0.2));
}

.bookie {
    background: #F4E2DA;
    /* background: linear-gradient(0.33turn, #F4922870, #FDB61070); */
}

.bookie-gradient {
    background: radial-gradient(ellipse at bottom, #F4922870, #FDB61070);
}

.bookie-slight-gradient {
    background: radial-gradient(ellipse at bottom, rgba(244, 146, 40, 0.2), rgba(253, 182, 16, 0.2));
}

.coffeeNote {
    background: #FFF9F5;
    /* background: linear-gradient(0.33turn, #642D1F70, #A85B3270) */
}
.palace {
    background: #b3e0dd;
}

#footer {
    width: 100vw;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 60px;
    box-sizing: border-box;
}

#footer > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;
}

#footer > a {
    display: block;
}

#footer > a > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#footer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    aspect-ratio: 1.0;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}

#footer h1 {
    font-weight: 700;
    color: #333;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

#footer p {
    font-weight: 400;
    color: #33333395;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

#footer .socials {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    padding: 20px 0;
}

#footer a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: all 125ms ease-in-out;
}

#footer a:hover {
    color: #155ab5;
    text-shadow: rgba(51, 51, 51, 0.1) 0px 2px 4px;
}

.horizontal2ColumnMobileOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 1039px) {
    .appPreview {
        padding: 50px 15px;
    }

    .appPreview .showcase {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .mobile-hidden {
        display: none;
    }

    .horizontal2ColumnMobileOne {
        flex-direction: column;
    }
}
