@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfaf4;
  --primary: #1B1C27;
  --accent: #BF101E;
  --secondary: #50569D;
  --secondaryLight: #9ea3e3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}